@page "/"

<h3>ExploreAccdb について</h3>

<ul>
    <li>Microsoft Access の .accdb ファイルについて調査します。</li>
</ul>

<h3>Credits</h3>

<ul>
    <li><a href="https://learn.microsoft.com/en-us/aspnet/core/introduction-to-aspnet-core?view=aspnetcore-8.0" target="_blank">ASP.NET Core in .NET 8.0</a></li>
    <li><a href="https://github.com/mdbtools/mdbtools" target="_blank">mdbtools</a></li>
    <li><a href="https://github.com/emscripten-core/emsdk" target="_blank">emsdk</a></li>
    <li><a href="https://github.com/rossknudsen/Kavod.Vba.Compression" target="_blank">Kavod.Vba.Compression</a></li>
</ul>